{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>

    <!--Model 에 등록된 데이터는 #으로 불러옴-->
    {{#articleList}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    <!-- 여기까지 데이터를 사용할거심 -->

    </tbody>
</table>

<a href="/articles/new">New Article</a>
{{>layouts/footer}}